
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.logo {
  right: 32px;
  width: 128px;
  margin-top: 16px;
  position: absolute;
}

.menu {
  left: 28px;
  position: absolute;
}

