.category {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-height: 65vh;
  overflow: hidden;
  cursor: pointer;
}

.description {
  position: absolute;
  left: 6%;
  bottom: 8%;
}
