.category {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-height: 65vh;
  overflow: hidden;
  cursor: pointer;
}

.description {
  position: absolute;
  padding: 0 16%;
  bottom: 10%;
  display: inline-flex;
  align-items: center;
}

.maxHeight {
  max-height: 90vh;
}

.icon {
  height: 2em;
  width: 1em;
  overflow: hidden;
  margin-right: 0.7em;

  @media (max-width: 640px) {
    display: none;
  }
}
