.about {
  padding: 6% 16%;
  background: #222222;
  color: #dddddd;

  a{
    color: #ffffff;
    text-decoration: underline;
  }
}

.videos {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.video {
  iframe {
    width: 560px;
    height: 315px;

    @media (max-width: 640px) {
      width: 280px;
      height: 158px;
    }
  }

}

