$width: 36px;
$height: $width * 1.8738;

@mixin active-icons {
  .spears {
    background: url('/images/menu/spears-w.png') no-repeat;
  }

  .maces {
    background: url('/images/menu/maces-w.png') no-repeat;
  }

  .messers {
    background: url('/images/menu/messers-w.png') no-repeat;
  }

  .swords {
    background: url('/images/menu/swords-w.png') no-repeat;
  }

  .order {
    background: url('/images/menu/order-w.png') no-repeat;
  }

  .about {
    background: url('/images/menu/helmet-w.png') no-repeat;
  }

  .coming {
    background: url('/images/menu/hourglass-w.png') no-repeat;
  }

  .daggers {
    background: url('/images/menu/daggers-w.png') no-repeat;
  }
}

.menu {
  list-style-type: none;
  padding: 0;
}

@mixin space {
  position: relative;
  width: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 $width 0 $width/2;
  margin: $width/4 0;
  color: #fff;
}

.empty {
  @include space;
}

.item {
  @include space;

  &:hover {
    width: $width * 12;
    transition: width 1s;
    .ribbon {
      padding-left: $width*4.5;
      transition: padding-left 1s;

      .title {
        color: #fff;
        transition: color 1s 0.5s;
      }
    }

    @include active-icons;
  }
}

.active {
  @include active-icons;
}

.icon {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: $width;
  background-size: $width !important;
  height: $width * 1.8738;
  z-index: 10;
}

.spears {
  background: url('/images/menu/spears-b.png') no-repeat;
}

.maces {
  background: url('/images/menu/maces-b.png') no-repeat;
}

.messers {
  background: url('/images/menu/messers-b.png') no-repeat;
}

.swords {
  background: url('/images/menu/swords-b.png') no-repeat;
}

.order {
  background: url('/images/menu/order-b.png') no-repeat;
}

.about {
  background: url('/images/menu/helmet-b.png') no-repeat;
}

.coming {
  background: url('/images/menu/hourglass-b.png') no-repeat;
}

.daggers {
  background: url('/images/menu/daggers-b.png') no-repeat;
}

.title {
  color: transparent;
  font-size: $width/1.5;
  font-style: italic;
  margin-left: $width/4;
  white-space: nowrap;
}

.ribbon {
  display: flex;
  align-items: center;
  position: absolute;
  background: #000000;
  width: 100%;
  height: $height;
  left: -$height * 1.5;
  border-right: solid 1px black;
}

.triangleTop {
  position: absolute;
  border-top: solid $height/2 #000000;
  border-right: solid $height/2 transparent;
  width: 0;
  height: 0;
  top: 0;
  right: -$height/2;
}

.triangleBottom {
  position: absolute;
  border-bottom: solid $height/2 #000000;
  border-right: solid $height/2 transparent;
  width: 0;
  height: 0;
  bottom: 0;
  right: -$height/2;
}
